
 
 input {
    margin-bottom: 20px;
 }

 .box {
  
  padding: 20px;
  /* background-color:lightgray; */
  
  
}

.form-signin {
  max-width: 400px;
 background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: auto;
 padding: 20px;
}

.lblMessage{
  color: red;
  text-align: center;
  padding: 20px;
}